{%load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CRM</a>
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'land'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lead-list'%}">Leads</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      {%if user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-5 mb-lg-0">
      <!-- Example single danger button -->
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{request.user}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{% url 'user-profile' user.pk %}">Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'update-profile' user.pk %}">Update Profile</a></li>
        </ul>
      </li>
    </ul>

  <a href="{%url 'logout'%}">
    <input type='submit' value='Logout' class="btn btn-outline-primary">
  </a>
       {% else %}
     
       <a class="nav-link active" aria-current="page" href="{%url 'signup'%}">SignUp</a>
       <a href="{%url 'login'%}">
        <input type='submit' value='Login' class="btn btn-outline-primary ">
       </a>
      </div>
   </ul>
       {% endif %}
      
    </div>
  </div>
</nav>